.app {
  /* background-color: aqua; */
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: #3E4545;
}

.app_container{
  /* background-color: bisque; */
}

.homeBody {
  background-color: yellow;
  padding: 4vw;
  padding-top: 4vh;
}

.flex_center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marblepic {
  height: 15vh;
  width: 100vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* .app {background-color: coral;} */
  .contact_bar {height: 7vh; display: flex; align-items: center; justify-content: flex-start; padding: 1vw; border-bottom: 1px solid #DEE2E2; background-color: white; }
  .contact_bar_image {height: 5vh; border-radius:5px; margin: 0.8vw;}
  .nav_bar {}
  .nav_bar_name {width: 100%; font-family: 'Playfair Display SC', serif; font-size: 35pt; font-weight: 700; text-align: center; height: 10vh; padding: 3vh;}
  .nav_bar_menu {width: 100%; padding: 1vh;background-color: #ffd5e9;}
  .nav_bar_link {text-align: center; padding: 0.5vh; text-decoration: none; color: #3E4545}
  .nav_bar_bold {font-family: 'Playfair Display SC', serif; font-size: 15pt; font-weight: 400;}
  .body {padding: 4vw; padding-top: 4vh;}
  .body_title {font-size: 18pt; font-weight: 700; padding-bottom: 3vh;}
  .project_container{
    background-color: #FFF2F8;
    padding: 3vw;
    margin: 0.2vh;
    margin-bottom: 5vh;
    border-radius: 5px;
  
  }
  .video{width: 85vw;}
  .about_headshot{ height: 31vh; border-radius: 110px; float: left; padding-right: 4vw; padding-bottom: 1vw;}
  .contact_icon{display: flex; font-size: 18pt;}
  .contact_page_image{height:24px;}
} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background-color: orange;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background-color: yellow;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background-color: greenyellow;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background-color: turquoise;}
}