.app {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
}

.app_container{
  background-color: bisque;
}

.homeBody {
  background-color: yellow;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app {background-color: coral;}
  .contact_bar {
    background-color: pink; 
    height: 7vh; 
    display: flexbox; 
    flex-direction: column;}
  .contact_bar_image {height: 6vh; border-radius:5px;}
  .nav_bar {background-color: mediumaquamarine; height: 20vh;}
  .app_container{ background-color: chartreuse;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background-color: orange;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background-color: yellow;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background-color: greenyellow;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background-color: turquoise;}
}